<nav class="navbar navbar-expand-lg ">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar_items collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href= "<%= "/student/show-class/" + userClass._id + "/" %>" >Stream <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href= "<%= "/student/show-class/" + userClass._id + "/classwork" %>" >Classwork</a>
        <a class="nav-item nav-link" href= "<%= "/student/show-class/" + userClass._id + "/members" %>" >Members</a>
      </div>
    </div>
</nav>

<!-- <%= assignment %> -->

<div class="assignment_div">
<div class="disbox">
  <div class="iconbox">
    <span class="icon">
      <i class="fas fa-clipboard-list"></i>
    </span>
  </div>
  <div class="msgbox assignment_box">
    <span class="s_name"><%= assignment.title %></span><br>
    <span class="s_msg"><%= assignment.description %></span><br>
  </div>

  <div class="attachment">
    <a target="_blank" href="<%= assignment.fileName %>">
      <span class="dicon">Attachment</span>
    </a>
  </div>

</div>
</div>

<%if (isSubmitted) { %>
  <div class="submit_assignment hform">
    <form style="padding: 25px;" class="discussion_form" >
      <h5 style="text-align: center;">
      <a target="_blank" class="hfile" href="<%= studentMarks.homeWorkFile %>" >Your Submission</a>
    </h5>
      <%if (studentMarks.marks != -1) { %>
        <p class="hh hchecked">Assigned Marks - <%= studentMarks.marks %></p>
      <% }else{ %>
        <p class="hh hunchecked"> Unchecked </p>
      <% } %>
  </form>
</div>
  
<% }else{ %>

  <div class="submit_assignment">
    <form style="padding-top: 20px;" class="discussion_form" action= "<%= "/student/" + userClass._id + "/submit-assignment/" + assignment._id + "/" %>" method="post" enctype="multipart/form-data">
      <h3>Submit your work</h3>
    <!-- <div class="main-wrapper"> -->
      <div class="wrapper">
      <div class="upload-main-wrapper">
        <div class="upload-wrapper">
          <!-- <input type="file" id="upload-file"> -->
          <input type="file" name="file" id="file">
          <svg focusable="false" width="24" height="24" viewBox="0 0 24 24" class=" NMm5M"><path d="M4 15h2v3h12v-3h2v3c0 1.1-.9 2-2 2H6c-1.1 0-2-.9-2-2m4.41-7.59L11 7.83V16h2V7.83l2.59 2.59L17 9l-5-5-5 5 1.41 1.41z"></path></svg>
          <span class="file-upload-text">Upload File</span>
        </div>
        <p id="file-upload-name"></p>
      </div>
    <!-- </div> -->
    <button class="post_btn">Submit</button>
  </div>
  </form>
</div>

<!-- <div 
  class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h2>
          Submit Your Work
        </h2>
        <form action= "<%= "/student/" + userClass._id + "/submit-assignment/" + assignment._id + "/" %>" method="POST" enctype="multipart/form-data">
          
          <input type="file" name="file" id="file" required>
          <label for="file" class = "label"><i id = "icon_attach" class="fas fa-paperclip"> </i>  Upload File</label>;
  
          <button type="submit" class="btn btn-primary btn-block">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div> -->

  <% } %>



  <!-- grading
  discussion
ui -->