<nav class="navbar navbar-expand-lg ">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar_items collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/admin/dashboard" >Dashboard <span
            class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="<%= " /profile/" + userId + "/" %>" >Profile</a>
        <a class="nav-item nav-link" href="/admin/inst-members" >People</a>
      </div>
    </div>
  </nav>


<a href="/admin/class-create" class="btn btn-secondary create_class create_assign">
    <i class="fas fa-plus"></i>
     Create Class
</a>

<div class="class_wrap">
<% for(let i=0 ; i < classes_data.length ; i++){ %> 
    <a href= "<%= "/admin/show-class/" + classes_data[i]._id + "/" %>"  class="data-card">
        <h3 class="class_name"><%= classes_data[i].name  %></h3>
        <h4><%= classes_data[i].faculty.name  %></h4>
        <p><%= classes_data[i].branch %></p>
        <span class="link-text">
          View Classwork
          <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
    </svg>
        </span>
      </a>
<% } %>
</div>


<!-- <% for(let i=0 ; i < classes_data.length ; i++){ %> 
    <a href= "<%= "/admin/show-class/" + classes_data[i]._id + "/" %>" >
        <h3 class="class_name"><%= classes_data[i].name  %></h3>
        <h4><%= classes_data[i].faculty.name  %></h4>
        <p>--Class Description--</p>
        <span class="link-text">
          View Classwork
            <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
            </svg>
        </span>
    </a>
<% } %> -->